<%- include("partials/header",{showNavigation:true}) %>
    <div class="preview">
        <h1 class="page-title">
            <%= movie.name%> (<%= movie.year%>)
        </h1>
        <span class="movie-metadata pills">
            Rating: <%= movie.rating%>/10 | Genres: <%= movie.genres%>
        </span>
        <hr />
        <span class="movie-director">
            Director: <%= movie.director%>
        </span>
        <p class="movie-description">
            <%= movie.description%>
        </p>
        <hr />
        <div class="button-container">
            <a class="button" href="/edit/<%=movie._id%>">Edit</a>
            <form class="form-button" action="/delete/<%=movie._id%>" method="post">
                <button class="button danger">
                    Delete
                </button>
            </form>
        </div>
    </div>
    <%- include("partials/footer") %>