<%- include("partials/header",{showNavigation:true}) %>

    <h1 class="page-title">
        <%= movie.name%> (<%= movie.year%>)
    </h1>
    <hr />
    <span class="movie-metadata pills">
        <%= movie.rating%> | <%= movie.genres%>
    </span>
    <span class="movie-director">
        Director: <%= movie.director%>
    </span>
    <p class="movie-description">
        <%= movie.description%>
    </p>
    <hr />
    <a class="button" href="/edit/<%=movie._id%>">Edit</a>
    <form action="/delete/<%=movie._id%>" method="post">
        <button class="button">
            Delete
        </button>
    </form>
    <%- include("partials/footer") %>